backend/lab/devices/cisco/routers/c3745-adventerprisek9-mz.124-25d.image filter=lfs diff=lfs merge=lfs -text
backend/lab/projects/b4713b92-486a-4ffb-81a4-d9ec3266b410/project-files/dynamips/c3745-adventerprisek9-mz.124-25d.image-256.ghost filter=lfs diff=lfs merge=lfs -text
