.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.wrapper {
  position: relative;
  background-color: var(--mantine-color-body);
  margin-top: 24px;
  width: 100%;
  min-height: 1px;
  padding-right: 8px;
  padding-left: 8px;
  flex: 0 0 100%;
  max-width: 100%;

  @media (min-width: $mantine-breakpoint-sm) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  @media (min-width: $mantine-breakpoint-md) {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
